* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Anton', sans-serif; */
	font-family: 'Varela Round', sans-serif;
	max-width: 100vw;
}

body {
	height: 100%;
	color: darkslategray;
}


.dash-top {
	background: rgba(76, 79, 83, 0.2);
	color: rgba(28, 29, 31, 1);
}

.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {   
	background-color: white;
	color: darkslategray;
}

.half-size-charts,
.members-2,
.members-1,
.message-and-settings {
	background-color: white;
	color: darkslategray;
	border-top: 1px solid rgba(76, 79, 83, 0.2);
}






.social-1,
.social-2,
.social-3,
.message,
.settings {
	background: white;

}


header {
	background: #7477BF;
}
nav {
	background: #4D4C71;
}
main {
	background: white;
}
